@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?82320009');
    src: url('./font/fontello.eot?82320009#iefix') format('embedded-opentype'),
         url('./font/fontello.woff?82320009') format('woff'),
         url('./font/fontello.ttf?82320009') format('truetype'),
         url('./font/fontello.svg?82320009#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
    top:0;
    margin:10px;
    padding:0;
    box-sizing: border-box;
}

header a img{
    width: 80%;
    height: 300px;
    

}
body{
    font-family: 'Lucida Sans';

}
.icon-menu{
    font-size: 20px;
}
#check{
    display:none;
}
#check:checked - .menu{
    width: 400px;
}
.menu{
   position:fixed;
   display:none; 

}
.contenido label{
    cursor:pointer;
}

#invitado{
    background-color:#85C0F2;
}
#festejado{
    background-color:#FAA6E2;
}
#imgEditar{
    width: 70px; height: 50px;
}