@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?82320009');
    src: url('./font/fontello.eot?82320009#iefix') format('embedded-opentype'),
         url('./font/fontello.woff?82320009') format('woff'),
         url('./font/fontello.ttf?82320009') format('truetype'),
         url('./font/fontello.svg?82320009#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
    top:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#home-page{
    top:0;
    margin:0;
    padding:0;
}

header a img{
    width: 50%;
    height: 300px;
    margin-top: 10px;
}
body{
    font-family: 'Elvetica', serif;
}

#titulo{
    font-size: 60px;
}
#pregunta{
    font-size: 30px;
    margin: 20px;
}
.icon-menu{
    font-size: 20px;
    margin: auto;
    margin-left: 20px;
    margin-top: 40px;
    display:flex;

}
#check{
    display:none;
}
#check:checked - .menu{
    width: 400px;

}
#menu{
   position:fixed;
   display:none; 
   margin: 10px;

}
.contenido label{
    cursor:pointer;
}
.contenido{
    margin-top: 20px;
}

.button{
    margin: 20px;
}

#festejado h4{
    color: black;
}
#festejado{
    font-size: 20px;
}
#festejado1{
    font-size: 30px;
}
#imgEditar{
    width: 70px; height: 50px;
    cursor: pointer;
}
#text-cifra{
    width: 100%;
}
.off-setone{
    width: 20%;
}
.boton-volver{
    width: 10vh;
    position: absolute;
    right: 10px;
    top: 10px;
}
.imgGlobos{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
#img-cifrar{
    width: 10vh;
    cursor:pointer;
}
#img-decifrar{
    width: 10vh;
    cursor:pointer;
}
.img-enviar{
    width: 10vh;
    cursor:pointer;
}
.pasos{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: left;
    border-radius: 5%;
    top:50px;
}
#paso-uno{
    position: relative;
    left:10%;
}
#paso-dos{
    position: absolute;
    right: 40%;
}
#paso-tres{
    position: absolute;
    right:10%;
}
#saludo{
    color: blue;
    display: block;
    width: 400px;
    height: 100px;
    text-align: center;
    opacity: 0.9;
    padding: 20px;
}

.invitado::before {
    content: "";
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url('img/fondoinvi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    align-items: center;
}

#titulo-inv{
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 50px;
    opacity: 1;
    position: relative;
    opacity: 1;
}

#paso-unob{
    color: black;
    width: 600px;
    height: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 5%;
    position: relative;
    opacity: 1;
    font-size: 20px;

}
.mens-cifrado{
    width: 95%;
    max-width: 400px;
    height:200px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
}
.img-misterio{
    width:100%;
    opacity: 0.5;
    height: 200px;
}
.text{
    margin: 10px;
    position: absolute;
    color:white;
    text-align: center;
    font-size: 30px;

}
.text p{
    padding: 10px 20px;
}

footer{
    border-top: 1px solid;
    border-top-color:#d1d3d6;
    color:black;
    display: flex;
    height: 10vh;
    /*align-items: center;*/
    justify-content: space-between;
    margin: 5% 5% 0 5%;
    padding: 2vh;
    
}

.menu-footer {
    display: flex;
    height: inherit;
    font-size: 3vh;
  }
.menu-footer ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
  justify-content: right;
}
.menu-footer .link {
    color: rgb(80, 38, 136);
    text-decoration: none;
    height: inherit;
    display: flex;
    padding: 0 10%;
    width: 100%;
    font-size: 3vh;
  }
  
.iconos{
    display: flex;
    justify-content: right;
    justify-items: right;
    font-size: 4vh;
    margin: 0;
    opacity: .5;
}
.Inc{
    display: flex;
    height: inherit;
    margin: 2mm;
}
.Inc p{
    font-size: 2vh;
    color: rgb(155, 151, 151);
}
.icon-facebook, .icon-twitter{
    cursor: pointer;
    margin: 5px;
}
